<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserCenterItems</key>
	<array>
		<array>
			<dict>
				<key>image</key>
				<string>icon_user_kb</string>
				<key>title</key>
				<string>我的课币</string>
			</dict>
			<dict>
				<key>image</key>
				<string>icon_user_order</string>
				<key>title</key>
				<string>我的订单</string>
			</dict>
			<dict>
				<key>image</key>
				<string>icon_user_discount</string>
				<key>title</key>
				<string>福利中心</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>image</key>
				<string>icon_user_download</string>
				<key>title</key>
				<string>下载列表</string>
			</dict>
			<dict>
				<key>image</key>
				<string>icon_user_bindAccount</string>
				<key>title</key>
				<string>账号绑定</string>
			</dict>
		</array>
	</array>
	<key>FunctionalSettings</key>
	<array>
		<string>推送设置</string>
		<string>允许非WIFI网络播放/下载</string>
		<string>清除缓存</string>
		<string>关于我们</string>
		<string>用户协议</string>
	</array>
	<key>TabbarItems</key>
	<array>
		<dict>
			<key>title</key>
			<string>首页</string>
			<key>class</key>
			<string>AnotherHomeViewController</string>
			<key>image_normal</key>
			<string>icon_tab_home_normal</string>
			<key>image_pressed</key>
			<string>icon_tab_home_pressed</string>
		</dict>
		<dict>
			<key>title</key>
			<string>全部课程</string>
			<key>class</key>
			<string>SDXuankeViewController</string>
			<key>image_normal</key>
			<string>icon_tab_xuanke_normal</string>
			<key>image_pressed</key>
			<string>icon_tab_xuanke_pressed</string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的学堂</string>
			<key>class</key>
			<string>SDMySchoolViewController</string>
			<key>image_normal</key>
			<string>icon_tab_xuetang_normal</string>
			<key>image_pressed</key>
			<string>icon_tab_xuetang_pressed</string>
		</dict>
		<dict>
			<key>title</key>
			<string>个人中心</string>
			<key>class</key>
			<string>SDProfileViewController</string>
			<key>image_normal</key>
			<string>icon_tab_user_normal</string>
			<key>image_pressed</key>
			<string>icon_tab_user_pressed</string>
		</dict>
	</array>
	<key>AccountRecharge</key>
	<array>
		<dict>
			<key>title</key>
			<string>8课币</string>
			<key>price</key>
			<string>8</string>
			<key>productId</key>
			<string>8</string>
		</dict>
		<dict>
			<key>title</key>
			<string>68课币</string>
			<key>price</key>
			<string>68</string>
			<key>productId</key>
			<string>68</string>
		</dict>
		<dict>
			<key>title</key>
			<string>188课币</string>
			<key>price</key>
			<string>188</string>
			<key>productId</key>
			<string>188</string>
		</dict>
		<dict>
			<key>title</key>
			<string>288课币</string>
			<key>price</key>
			<string>288</string>
			<key>productId</key>
			<string>288</string>
		</dict>
		<dict>
			<key>title</key>
			<string>588课币</string>
			<key>price</key>
			<string>588</string>
			<key>productId</key>
			<string>588</string>
		</dict>
		<dict>
			<key>title</key>
			<string>998课币</string>
			<key>price</key>
			<string>998</string>
			<key>productId</key>
			<string>998</string>
		</dict>
	</array>
	<key>HomeItems</key>
	<array>
		<dict>
			<key>image</key>
			<string>icon_home_scan</string>
			<key>title</key>
			<string>扫码学习</string>
		</dict>
		<dict>
			<key>image</key>
			<string>icon_home_micro</string>
			<key>title</key>
			<string>拍照搜题</string>
		</dict>
		<dict>
			<key>image</key>
			<string>icon_home_zhishi</string>
			<key>title</key>
			<string>模考分析</string>
		</dict>
		<dict>
			<key>image</key>
			<string>icon_home_wisdom</string>
			<key>title</key>
			<string>智慧套餐</string>
		</dict>
		<dict>
			<key>image</key>
			<string>icon_home_tiku</string>
			<key>title</key>
			<string>全部课程</string>
		</dict>
	</array>
</dict>
</plist>
